<section>
  <div class="form-container">
    <div class="form-inner">
      <div class="info">
        <li class="sign-in active">sign in</li>
        <li class="sign-up">sign up</li>
      </div>
      <div class="info-state"></div>

      <div class="photo">
        <i class="fa fa-user 2x"></i>
      </div>

      <div class="form-input">

        <!--SIGN IN HTML CODE><-->
        <div class="form-input-inner">
          <div class="sign-in-input">
            <div class="input-contain">
              <div class="warp">
                <input type="text" placeholder="Username" />
              </div>
              <div class="warp">
                <input type="password" placeholder="Password" class="tabIgnore"/>
              </div>
            </div>
          </div>

          <div class="mention">
            <div class="mention-info">SUBMIT</div>
          </div>
        </div>

        <!--SIGN UP HTML CODE><-->
        <div class="form-input-inner">
          <div class="sign-up-input">
            <div class="input-contain">
              <div class="warp">
                <input type="text" placeholder="Email" />
              </div>
              <div class="warp">
                <input type="text" placeholder="Username" />
              </div>
              <div class="warp">
                <input type="password" placeholder="Password" />
              </div>
              <div class="warp">
                <input type="password" placeholder="Confirm password" />
              </div>
            </div>
          </div>

          <div class="mention">
            <div class="mention-info">Register</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

