.hover-green:hover {
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
}

.hover-gray:hover {
  background-color: #c7c7c7;
  color: black;
  cursor: pointer;
}

img {
  image-rendering: pixelated;
  width: 70%;
  height: 30%;
  object-fit: contain;
}
