
<div class="product-card-cart-container">

  <div class="container">

    <div class="product-card-cart-container-inner mt-4 pt-4">

      <div class="product-card-cart">

        <a href="#" class="product-card-cart-link">
          <img src="https://images.unsplash.com/photo-1511556532299-8f662fc26c06?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="">
        </a>

        <div class="list-group list-group-flush product-card-cart-content">

          <div class="product-card-cart-content-name-price list-group-item">
            <div class="product-card-cart-content-name"> Product Name </div>
            <div class="product-card-cart-content-price"> <h4><span class="badge bg-dark">$56.78</span></h4> </div>
          </div>

          <div class="product-card-cart-content-quantity list-group-item">
            <div>Quantity: </div>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="decrement-quantity btn btn-sm btn-outline-dark">-</button>
              <input type="text" class="this-product-quantity form-control product-card-details-product-quantity" value="0" style="width: 36px; border-radius: 0!important;" disabled>
              <button type="button" class="increment-quantity btn btn-sm btn-outline-dark">+</button>
            </div>
          </div>
          <div class="product-card-cart-content-size list-group-item">
            <div>Size: </div>
            <h5><span class="badge bg-secondary">US: 7</span></h5>
          </div>
          <div class="product-card-cart-content-remove list-group-item">
            <div class="product-card-cart-this-total"> $1200 </div>
            <a href="#" class="btn btn-outline-secondary">REMOVE</a>
          </div>
        </div>

      </div>


      <div class="product-card-cart">

        <a href="#" class="product-card-cart-link">
          <img src="https://images.unsplash.com/photo-1515555230216-82228b88ea98?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1226&q=80" alt="">
        </a>

        <div class="list-group list-group-flush product-card-cart-content">

          <div class="product-card-cart-content-name-price list-group-item">
            <div class="product-card-cart-content-name"> Product Name </div>
            <div class="product-card-cart-content-price"> <h4><span class="badge bg-dark">$56.78</span></h4> </div>
          </div>

          <div class="product-card-cart-content-quantity list-group-item">
            <div>Quantity: </div>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="decrement-quantity btn btn-sm btn-outline-dark">-</button>
              <input type="text" class="this-product-quantity form-control product-card-details-product-quantity" value="0" style="width: 36px; border-radius: 0!important;" disabled>
              <button type="button" class="increment-quantity btn btn-sm btn-outline-dark">+</button>
            </div>
          </div>
          <div class="product-card-cart-content-size list-group-item">
            <div>Size: </div>
            <h5><span class="badge bg-secondary">US: 7</span></h5>
          </div>
          <div class="product-card-cart-content-remove list-group-item">
            <div class="product-card-cart-this-total">Total: $1200 </div>
            <a href="#" class="btn btn-outline-secondary">REMOVE</a>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
