<section>
  <div class="form-container">
    <div class="form-inner">
      <div class="info">
        <li class="sign-in active">sign in</li>
        <li class="sign-up">sign up</li>
      </div>
      <div class="info-state"></div>

      <div class="photo">
        <i class="fa fa-user 2x"></i>
      </div>

      <div class="form-input">
        <!--SIGN IN HTML CODE><-->
        <div class="form-input-inner" [formGroup]="formSign">
          <div class="sign-in-input">
            <div class="input-contain">
              <div class="warp">
                <input
                  formControlName="username"
                  name="username"
                  type="text"
                  placeholder="Username"
                />
              </div>
              <div class="warp">
                <input
                  formControlName="password"
                  type="password"
                  placeholder="Password"
                  class="tabIgnore"
                />
              </div>
            </div>
          </div>

          <div class="mention">
            <div class="mention-info" (click)="submit()">SUBMIT</div>
          </div>
        </div>

        <!--SIGN UP HTML CODE><-->
        <div
          class="form-input-inner"
          [formGroup]="formSigup"
          (ngSubmit)="register()"
        >
          <div class="sign-up-input">
            <div class="input-contain">
              <div class="warp">
                <input type="text" placeholder="Email" />
              </div>
              <div class="warp">
                <input
                  formControlName="username"
                  type="text"
                  placeholder="Username"
                />
              </div>
              <div formGroupName="formConfirm">
                <div class="warp">
                  <input
                    formControlName="password"
                    type="password"
                    placeholder="Password"
                  />
                </div>
                <div class="warp">
                  <input
                    formControlName="confirmPassword"
                    type="password"
                    placeholder="Confirm password"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="mention">
            <div class="mention-info">Register</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
