<div class="p-3 px-5" *ngIf="candidates$ !== undefined">
  <h2 class="text-center fw-bold text-light mt-3">DANH SÁCH ỨNG VIÊN</h2>

  <nav class="navbar navbar-expand-lg py-0 my-0">
    <div class="container-fluid">
      <button class="btn btn-primary btn-outline-secondary mb-2" routerLink="/create">
        <span class="text-light"> + Thêm mới ...... </span>
      </button>

      <div class="d-flex my-2" role="search">
        <input class="form-control me-2" type="text" placeholder="Tên ứng viên.." aria-label="Search"
               [(ngModel)]="nameSearch">

        <select class="form-select me-2" [(ngModel)]="typeSearch" [compareWith]="compareWithId"
                aria-label="Search">
          <option [value]="''" disabled>Loại ứng viên..</option>
          <option *ngFor="let item of (candidateTypes$ | async)" [ngValue]="item.candidateTypeId">
            {{item.name}}</option>
        </select>

        <button class="btn btn-light btn-outline-warning me-2" (click)="resetSearchInput()">
          <i class="fa-solid fa-xmark"></i></button>

        <button class="btn btn-light btn-outline-primary" (click)="searchByMore()">
          <i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </div>
  </nav>

  <table class="table table-light table-striped table-bordered" id="candidateTable">
    <thead>
    <tr class="table-dark text-dark">
      <th class="text-center">Mã ứng viên</th>
      <th>Họ và tên</th>
      <th>Ngày sinh</th>
      <th>Địa chỉ</th>
      <th>Số điện thoại</th>
      <th>Loại ứng viên</th>
      <th class="text-center" colspan="2">Thao tác</th>
      <th class="text-center" colspan="2">Xem</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of (candidates$ | async)!; index as i">
      <td class="text-center">{{i + 1 + (page - 1) * pageSize}}</td>
      <td>{{item.name | uppercase}}</td>
      <td>{{item.dateOfBirth | date:"dd-MM-yyyy"}}</td>
      <td>{{item.address}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.typeName}}</td>
      <td class="text-center">
        <button (click)="showDetail(item)" type="button" class="btn bg-primary btn-sm" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
          Chi tiết
        </button>
      </td>
      <td class="text-center">
        <button class="btn btn-danger btn-outline-secondary text-white py-0"
                (click)="deleteCandidate(item.candidateId, item.name)">
          Xóa
        </button>
      </td>
      <td class="text-center">
        <a routerLink="/history/{{item.candidateId}}">
          <button class="btn btn-warning btn-outline-secondary text-dark py-0">
            Lịch sử
          </button>
        </a>
      </td>

      <!--      <td class="text-center">-->
      <!--        <a routerLink="/edit/{{item.candidateId}}">-->
      <!--          <button class="btn btn-warning btn-outline-secondary text-dark py-0">-->
      <!--            Sửa-->
      <!--          </button>-->
      <!--        </a>-->
      <!--      </td>-->


    </tr>
    </tbody>
  </table>

  <!-- Modal info-->
  <div *ngIf="detailCandidate != null">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Chi tiết ứng viên</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-light table-striped table-bordered" id="detailTable">
            <tr class="table-dark text-dark">
              <th class="text-center">Mã ứng viên</th>
              <td>{{detailCandidate.candidateId}}</td>
            </tr>
            <tr class="table-dark text-dark">
              <th>Họ và tên</th>
              <td>{{detailCandidate.name}}</td>
            </tr>
            <tr class="table-dark text-dark">
              <th>Ngày sinh</th>
              <td>{{detailCandidate.dateOfBirth | date: "dd-MM-yyyy"}}</td>
            </tr>
            <tr class="table-dark text-dark">
              <th>Địa chỉ</th>
              <td>{{detailCandidate.address}}</td>
            </tr>
            <tr class="table-dark text-dark">
              <th>Số điện thoại</th>
              <td>{{detailCandidate.phone}}</td>
            </tr>
            <tr class="table-dark text-dark">
              <th>Loại ứng viên</th>
              <td>{{detailCandidate.typeName}}</td>
            </tr>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!"
      [(page)]="page"
      [maxSize]="3"
      [rotate]="true"
      [pageSize]="pageSize"
      [boundaryLinks]="true"
      (pageChange)="getAllCandidate()">
    </ngb-pagination>

    <label>
      <select class="form-control-sm" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getAllCandidate()">
        <option [ngValue]="5">5 ứng viên / trang</option>
        <option [ngValue]="7">7 ứng viên / trang</option>
        <option [ngValue]="10">10 ứng viên / trang</option>
      </select>
    </label>
  </div>
</div>

